<html>
    <head>
        <title>Блог Django_IT</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Блог Django_IT</a></h1>
        </div>

        <div>
            <p>опубликовано: 25.03.2021, 18:00</p>
            <h2><a href="">Мой первый блог</a></h2>
            <p>Первая интересная запись в блоге</p>
        </div>

        <div>
            <p>опубликовано: 25.03.2020, 18:02</p>
            <h2><a href="">Мой второй блог</a></h2>
            <p>Вторая интересная запись в блоге</p>
        </div>
    </body>
</html>